@mixin blue-button() {
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

@mixin null-margin-padding() {
  margin: 0;
  padding: 0;
}
