@import "./buttons-paddings.scss";
@import "./body.scss";

.card-items__title {
  @include null-margin-padding;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  &--pics {
    color: #ffffff;
  }
}

.quality-card__title {
  @include null-margin-padding;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.card-items__description {
  @include null-margin-padding;
  color: inherit;

  &--pics {
    color: #ffffff;
  }
}

.card-items__number {
  @include null-margin-padding;
  color: inherit;

  &--pics {
    color: #ffffff;
  }
}

.card-items__description,
.card-items__number,
.quality-card__description {
  @include null-margin-padding;
}

.card-items-pics {
  background-color: #81b3d2;
}

.card-items {
  background-color: #eeeeee;
}
