@import "./variables-nums.scss";
@import "./buttons-paddings.scss";

.social-info {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  padding: 29px 77px 23px 77px;
  justify-content: center;
}

.social-info__tag {
  font-weight: 700;
  margin: 0;
  font-size: 21px;
  text-align: center;
}

.footer-tag {
  line-height: 26px;
  margin: auto 0;
}

.social-info__societes {
  @include null-margin-padding;
  display: flex;
  padding: 20px;
}

.social-info__made-by {
  @include null-margin-padding;
  margin: auto 0;
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:disabled {
    color: #000000;
  }
}

.societe-item__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .social-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 115px 36px 76px;
  }
}

@media (min-width: $desktop-width) {
  .social-info {
    padding: 36px 175px 36px 104px;
  }
}
