@import "./variables-nums.scss";
@import "./buttons-paddings.scss";

.main-catalog__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-title__title,
.content-video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.content-video__title {
  text-align: center;

  @include null-margin-padding;

  padding-bottom: 27px;
  text-transform: uppercase;
}

.content-video__caption {
  @include null-margin-padding;
  margin-bottom: 39px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 83px;
  }
}

.catalog-title {
  margin: 0 auto;
  position: relative;
  margin-bottom: 61px;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 320px;
    background-color: #e5e5e5;
    bottom: -37px;
    left: -20px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }

    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.catalog-title__title {
  @include null-margin-padding;
  padding-bottom: 11px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 2px 0 32px 0;
  }
}

.catalog-title__description {
  @include null-margin-padding;

  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding: 0 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;
  }
}

.picture-card__title,
.picture-card__author-name {
  @include null-margin-padding;
}

.catalog-title__description,
.content-video__caption {
  text-transform: uppercase;
  text-align: center;
}

.video {
  width: 280px;
  height: 177px;
}

@media (min-width: $tablet-width) {
  .content-foto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 14px;
  }

  .picture-card {
    &--big {
      grid-column: 1 / -1;
    }
  }

  .video {
    width: 648px;
    height: 500px;
  }

  .catalog-title__title {
    font-size: 30px;
  }

  .content-video {
    margin: 0 auto 38px auto;
  }

  .content-video__caption {
    padding: 0 100px;
  }

  .content-video__title {
    font-size: 30px;
    padding-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .content-foto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 22px;
  }

  .main-catalog {
    padding: 0;
  }

  .content-video__caption {
    padding: 0 370px;
  }

  .video {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 681px;
  }
}
