@import "./variables-nums.scss";
@import "./buttons-paddings.scss";

.social-info {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  padding: 29px 77px 23px 77px;
  justify-content: center;
}

.social-info__tag {
  font-weight: 700;
  margin: 0;
  font-size: 21px;
  text-align: center;
}

.social-info__societes {
  @include null-margin-padding;
  display: flex;
  padding: 20px;
}

.societe-item__link {
  text-decoration: none;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .social-info {
    flex-direction: row;
    padding: 36px;
  }
}
