@import "./buttons-paddings.scss";
@import "./variables-nums.scss";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

.main-header {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 320px;
  min-height: 56px;

  @include null-margin-padding;
}

.navigation {
  &--none {
    display: none;
  }

  &--active {
    display: flex;
    flex-direction: column;
    z-index: 4;
  }
}

.navigation-list__item {
  padding: 17px 0 12px 0;
  text-align: center;
  background-color: #81b3d2;
  border-top: 1px solid rgba(#ffffff, 0.2);
  border-bottom: 1px solid rgba(#000000, 0.2);
  z-index: 5;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 -20px 20px -20px rgba(#000000, 0.4);
  }

  &:active {
    background-color: $button-active-background;

    .navigation-list__item-link {
      color: rgba(#ffffff, 0.3);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $button-hover;
  }

  &:disabled {
    background-color: $button-disabled-background;
  }
}

.navigation-list__item-link {
  text-decoration: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}

.logotype {
  position: fixed;
  top: 0;
  min-width: 185px;
  min-height: 96px;
  left: calc(50% - 92px);
  z-index: 5;

  &--none {
    display: none;
  }

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 291px;
  }

  @media (min-width: $desktop-width) {
    left: 507px;
  }
}

.main-navigation {
  min-width: 320px;
  min-height: 56px;
  background-color: #ffffff;

  &--closed,
  &--opened {
    position: fixed;
    top: 0;
    z-index: 4;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}

.main-navigation__toggle {
  padding: 0;
  border: none;
  position: absolute;
  right: 20px;
  top: 17px;
  min-width: 23px;
  min-height: 22px;
  z-index: 2;
  cursor: pointer;
  background-color: #ffffff;

  &:hover,
  &:active {
    opacity: 0.6;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 23px;
  min-height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  box-shadow:
    0 9px 0 0 rgba(#81b3d2, 0.3),
    0 18px 0 0 rgba(#81b3d2, 0.3);
}

.main-navigation--opened .main-navigation__toggle {
  right: 20px;
  top: 17px;
  background-color: #81b3d2;
  z-index: 6;
  position: absolute;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -2px;
    min-width: 28px;
    min-height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after,
  &:hover::before,
  &:hover::after {
    background-color: $light-white;
  }
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation--nojs .main-navigation__wrapper {
  display: block;
  position: relative;
}

.main-navigation--nojs {
  position: relative;

  @media (max-width: $mobile-width-only) {
    min-height: 153px;
  }
}

.main-navigation--nojs .logotype {
  position: absolute;
}

@media (min-width: $tablet-width) {
  .navigation-list {
    position: relative;
    min-width: $tablet-width;
    display: flex;
    flex-direction: row;
    z-index: 0;
  }

  .navigation {
    display: flex;
  }

  .main-navigation__toggle {
    display: none;
  }

  .navigation-list__item {
    padding: 18px 0 12px 0;
    min-width: 154px;
    color: #000000;
    background-color: #ffffff;
    border: none;

    &:nth-child(2) {
      margin-right: 153px;
    }

    &:last-child {
      box-shadow: none;
    }

    &:hover {
      background-color: #ffffff;

      .navigation-list__item-link {
        color: #81b3d2;
      }
    }

    &:active .navigation-list__item-link {
      color: #000000;
      opacity: 0.3;
    }
  }

  .navigation-list__item-link {
    color: #000000;
    font-size: 14px;

    &--active {
      color: #766357;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation-list {
    min-width: 1200px;
  }

  .navigation-list__item {
    min-width: 240px;

    &:nth-child(2) {
      margin-right: 240px;
    }
  }
}
