@import "./buttons-paddings.scss";
@import "./body.scss";

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}

.main-header {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include null-margin-padding;
}

.navigation-list__item {
  padding: 17px 0 12px 0;
  text-align: center;
  background-color: #81b3d2;

  &:nth-child(3) {
    grid-column: 4 / 5;
  }
}

.navigation-list__item-link {
  text-decoration: none;
  color: #ffffff;
}

.logotype {
  position: absolute;
  left: calc(50% - 92px);
}

@media (min-width: $tablet-width) {
  .navigation-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .logotype {
    display: block;
  }

  .main-navigation__toggle {
    display: none;
  }

  .navigation-list__item {
    padding: 18px 0 17px 0;
    width: 154px;
    color: #000000;
    background-color: #ffffff;

    &:nth-child(3) {
      grid-column: 4 / 5;
    }
  }

  .navigation-list__item-link {
    color: #000000;

    &--active {
      color: #766357;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation-list__item {
    width: 254px;
  }
}
