@import "./buttons-paddings.scss";
@import "./body.scss";

.main-index {
  text-transform: uppercase;
  margin-top: 69px;
}

.main-advantages {
  display: flex;
  flex-direction: column;
}

.main-description__title,
.main-form-hostel__title {
  color: #000000;
  font-size: 30px;

  @include null-margin-padding;
}

.main-form-hostel__button {
  @include blue-button;
}

.main-description {
  margin-bottom: 44px;
}

.all-discriptions {
  margin-bottom: 61px;
}

.main-description__caption,
.main-form-hostel__discription {
  @include null-margin-padding;
}

.main-form-hostel {
  margin-bottom: 66px;
}

@media (max-width: $mobile-width-only) {
  .map {
    width: 300px;
    height: 300px;
  }

  .main-form-hostel__title {
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {
  .main-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-advantages__photo {
    &--right {
      grid-column: 2 / -1;
    }

    &--left {
      grid-column: 1 / 3;
    }
  }

  .map {
    width: $tablet-width;
    height: 560px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
    height: 800px;
  }
}
