.modal-success {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0000004d;
  z-index: 6;

  &--close {
    display: none;
  }
}

.modal-success__wrapper {
  background-color: #ffffff;
  max-width: 320px;
  height: auto;
  margin: auto;
  box-sizing: border-box;

  @media (min-width: 768px) {
    max-width: 640px;
  }
}

.modal-success__heading {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.modal-success__text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.modal-success__white-background {
  background-color: #ffffff;
  padding: 44px 39px 14px;

  @media (min-width: 768px) {
    padding: 53px 98px 30px;
  }
}

.modal-success__grey-background {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #eeeeee;

  @media (min-width: 768px) {
    padding: 44px 91px;
  }
}

.modal-success__submit {
  @include blue-button;
  display: block;
  position: relative;
  font-size: 18px;
  padding: 18px 0 14px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}
