$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$light-white: rgba(#ffffff, 0.6);
$button-hover: #669ec0;
$button-active-background: #5496bd;
$button-disabled-background: #e5e5e5;
