@import "./blocks/main-catalog.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-form.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-index.scss";
@import "./blocks/card-items.scss";
@import "./blocks/buttons-paddings.scss";
@import "./blocks/body.scss";
@import "./blocks/picture-card.scss";
